fastapi
uvicorn
python-dotenv
python-multipart
python-jose
passlib
bcrypt
email-validator
tree-sitter
tree-sitter-python
tree-sitter-javascript
tree-sitter-typescript
tree-sitter-java
tree-sitter-cpp
tree-sitter-c
tree-sitter-go
tree-sitter-rust

sentence-transformers
torch

numpy
psycopg2-binary
pgvector

numpy
scikit-learn

rank-bm25

langchain
langchain-groq
python-dotenv
